<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestRig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <userSettings>
    <TestRig.Properties.Settings>
      <setting name="MFPath_4_0" serializeAs="String">
        <value>D:\Work\DotNet-MF\MicroFrameworkPK_v4_0</value>
      </setting>
      <setting name="TRPath" serializeAs="String">
        <value>D:\Test\Receipts</value>
      </setting>
      <setting name="MFPath_4_3" serializeAs="String">
        <value>D:\Work\DotNet-MF\MicroFrameworkPK_v4_3</value>
      </setting>
      <setting name="MFSelection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HSSelection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MTSelection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="STSelection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GVSelection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MFPathSelection" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="COMPortPrimary" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OCDInterfacePrimary" serializeAs="String">
        <value>D:\Work\TestSystem\openocd-0.7.0\scripts\interface\olimex-arm-usb-tiny-h.cfg</value>
      </setting>
      <setting name="OCDTarget" serializeAs="String">
        <value>D:\Work\TestSystem\openocd-0.7.0\scripts\target\stm32xl.cfg</value>
      </setting>
      <setting name="OCDExe" serializeAs="String">
        <value>D:\Work\TestSystem\openocd-0.7.0\bin-x64\openocd-x64-0.7.0.exe</value>
      </setting>
      <setting name="CSPath" serializeAs="String">
        <value>D:\Work\TestSystem</value>
      </setting>
      <setting name="GitPath" serializeAs="String">
        <value>D:\Work\TestSystem\Automated Testing Software\GitBin</value>
      </setting>
      <setting name="TSPath" serializeAs="String">
        <value>D:\Work\TestSuite</value>
      </setting>
      <setting name="OCDInterfaceSecondary1" serializeAs="String">
        <value>D:\Work\TestSystem\openocd-bin\interface\olimex-arm-usb-ocd.cfg</value>
      </setting>
      <setting name="COMPortSecondary1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PowerCycleAutomated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerListenPort" serializeAs="String">
        <value>32001</value>
      </setting>
      <setting name="ServerKey" serializeAs="String">
        <value>45123</value>
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>32001</value>
      </setting>
      <setting name="ClientServerKey" serializeAs="String">
        <value>45123</value>
      </setting>
      <setting name="NotifyHost" serializeAs="String">
        <value>smtpout.secureserver.net</value>
      </setting>
      <setting name="NotifySender" serializeAs="String">
        <value>testrig-noreply@samraksh.com</value>
      </setting>
      <setting name="NotifyPassword" serializeAs="String">
        <value>N2!Erbxs</value>
      </setting>
      <setting name="NotifyUser" serializeAs="String">
        <value>testrig-noreply@samraksh.com</value>
      </setting>
      <setting name="NotifyReceipts" serializeAs="String">
        <value>your_name@samraksh.com</value>
      </setting>
      <setting name="EmailCB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OCDInterfaceSecondary2" serializeAs="String">
        <value>D:\Work\TestSystem\openocd-bin\interface\olimex-arm-usb-ocd-h.cfg</value>
      </setting>
      <setting name="COMPortSecondary2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RadioIDPrimary" serializeAs="String">
        <value>1480</value>
      </setting>
      <setting name="RadioIDSecondary1" serializeAs="String">
        <value>7110</value>
      </setting>
      <setting name="RadioIDSecondary2" serializeAs="String">
        <value>14330</value>
      </setting>
    </TestRig.Properties.Settings>
  </userSettings>
</configuration>