<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpHandlers>
			<add type="SamServer.Service, SamServer" verb="*" path="tester" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="tester" path="tester" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
		</handlers>
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>